<ion-view view-title="Login with Passcode">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Company ID</span>
                <input type="text" placeholder="Company ID">
            </label>
            <label class="item item-input">
                <span class="input-label">Passcode</span>
                <input type="password" placeholder="Passcode">
            </label>
        </div>
    </ion-content>
</ion-view>
