<ion-view view-title="Login with Username">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Company ID">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password">
            </label>
        </div>
        <div class="list">
        <button class="button button-full button-positive">LOGIN</button>
        </div>
    </ion-content>
</ion-view>
