<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-no-icon tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Don't have a Passcode?" href="#/tab/username" ng-click="setCurrent('username')">
    <ion-nav-view name="tab-username"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Don't have a Username?" href="#/tab/passcode" ng-click="setCurrent('passcode')">
    <ion-nav-view name="tab-passcode"></ion-nav-view>
  </ion-tab>
{{currentTab}}
</ion-tabs>
